*{
    box-sizing: border-box;
    color: white;
    font-family: "Quicksand", sans-serif;
}

body {
    margin: 0;
    background-color: rgb(14, 28, 32);
}


header {
    background-color: rgb(14, 28, 32);
    text-align: center;
    padding: 25px;
    font-size: large;
}
.hidden { display: none; }

/* Optional: make toggle look like plain text but keyboard focusable */
.toggle {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  padding: 0;
}

.tab1, .tab2, .tab3 {
    display: inline-block;
    position: relative;
}

.tab1 hr, .tab2 hr, .tab3 hr {
    display: none;
    background-color: deepskyblue;
    color: deepskyblue;
    height: 0.3rem;
    width: 30%;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    left: 35%;
}

.tab1:hover hr,
.tab2:hover hr, 
.tab3:hover hr {
    display: block;
}

.nav_bar {
    background-color: rgb(19, 37, 43);
    height: 3.4375rem;
    margin-left: 3rem;
    margin-right: 3rem;
    border-radius: 10px;
}

.nav_bar a {
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    height: 100%;
}

.nav_bar a:hover {
    background-color: rgb(24, 47, 54);
    height: 100%;
    border-radius: .3rem;
}

#home_tab {
    padding: 1rem 0.5rem;
    font-weight: bold;
    font-size: large;
    text-decoration: none;
    float: left;
    margin-left: 1rem;
}

#projects_tab {
    padding: 1rem 0.5rem;
    font-weight: bold;
    font-size: large;
    text-decoration: none;
    float: left;
    color: grey;
}

#books_tab {
    padding: 1rem 0.5rem;
    font-weight: bold;
    font-size: large;
    text-decoration: none;
    float: left;
    color: grey;
}


.dropbtn {
    background-color: rgb(48, 94, 109);
    font-size: large;
    border-radius: 5px;
    border: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 8px;
    cursor: pointer;
    font-weight: bold;
}

.dropbtn:hover {
    background-color: deepskyblue;
    transition: 0.3s;
}

.dropdown {
    position: relative;
    display: none;
    float: left;
    margin-left: 1rem;
    margin-top: 0.2rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 36px;
    background-color: rgb(48, 94, 109);
    min-width: 100%;
    overflow: auto;
    box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 1;
}

.dropdown-content a {
    text-decoration: none;
    padding: 10px 14px;
    display: block;
    font-size: medium;
    font-weight: bold;

}

.dropdown a:hover {background-color: rgb(25, 48, 56);}

.show {display: block;}

.row1 {
    padding: 60px;
    /* background-color: rgb(31, 61, 71); */
    background-color: rgb(14, 28, 32);
    display: flex;
    column-gap: 5rem;
    min-height: 25px;
    margin-left: 2rem;
    margin-right: 2rem;
}

#aside1 {
    float: left;
    width: 40%;
    font-size: 1.8rem;
}

#aside1 hr {
    background-color: deepskyblue;
    color: deepskyblue;
    height: 1rem;
    min-width: 100px;
    max-width: 300px;
    border-radius: 10px;
}

.row2 {
    padding-top: 60px;
    display: flex;
    /* background-color: rgb(24, 47, 54); */
    background-color: rgb(14, 28, 32);
    min-height: 100px;
    margin-left: 5rem;
    margin-right: 5rem;
}


#BorutoImage {
    float: left;
    width: 100%;
    margin-top: -60px;
    min-width: 15.65625rem;
}

#section2 p {
    font-size: large;
}

#section2 {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 40rem;
}

#section1 {
    float: left;
    width: 60%;
    max-width: 700px;
    font-size: 1.5rem;
    min-width: 250px;
}
section {
    /* background-color: rgb(48, 94, 109); */
    background-color: rgb(14, 28, 32);
    padding: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    min-height: 100px;
}

section li {
    padding: 0.8rem;
}

section a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: large;
}

section li:hover {
    background-color: rgb(0, 191, 255, 0.3);
    transition: 0.3s;
    border-radius: 10px;
    color: white;
}

section ul li {
    margin-left: -20px;
}

article {
    /* background-color: rgb(38, 74, 86); */
    background-color: rgb(14, 28, 32);
    padding: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    min-height: 100px;
}

footer {
    display: block;
    clear: both;
    text-align: center;
    padding: 2rem;
    /* background-color: rgb(19, 37, 43); */
    background-color: rgb(14, 28, 32);
    margin-left: 3rem;
    margin-right: 3rem;
    min-height: 100px;

}

#Contacts {
    text-align: left;
    font-size: 1.2rem;
    margin-top: -60px;
}

#ContactsTable {
    background-color: rgb(19, 37, 43);
    max-width: 370px;
    min-width: 150px;
    border-radius: 10px;
    text-align: left;
    display: flex;
    column-gap: 40px;
    min-height: 25px;
}

#ContactsTable li {
    list-style: none;
    padding: 0.5rem;
}
#ContactsTable a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: large;
}

#ContactsTable a:hover {
    color: deepskyblue;
    transition: 0.3s;
}

.toggle {
    color: white;
    font-weight: bold;
}

.toggle:hover {
    color: deepskyblue;
    transition: 0.3s;
}

/* books links */
a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

a:hover {
    color: deepskyblue;
    transition: 0.3s;
}

@media screen and (max-width: 700px) {
    section, article, footer, #ContactsTable{
        display: grid;
        margin-left: 0rem;
        margin-right: 0rem;
    }
}

@media screen and (max-width: 850px) {
    .row1 {
        display: grid;
    }
    .row2 {
        display: grid;
    }
    #BorutoImage {
        padding-top: 50px;
    }
}

@media screen and (min-width: 850px) {
     #aside1 hr {
        position: absolute;
        top: 439px;
        width: 100%;
    }
}
@media screen and (max-width: 600px) {
    #home_tab, #projects_tab, #books_tab {
        display: none;
    }

    .dropdown {
        display: inline;
    }
}

@media screen and (max-width:430px) {
    #ContactsTable {
        display: grid;
    }
}
